tqdm
requests

streamlit

uvicorn
fastapi

pandas
numpy

tiktoken

python-dotenv

lxml
beautifulsoup4
unstructured
pypdf

sentence-transformers

chromadb

mistralai
langchain-mistralai

langchain-community
langchain-core
langchain